.owl-item {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.title-wrapper {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
}

.title-wrapper h4 {
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.title-wrapper p {
  margin: 0;
  padding: 2px;
}

.test {
  background: url(../resources/empty_image.png) no-repeat;
  background-size: cover;
}